################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MDACSAuth/v15
/MDACSAuth/obj
/.vs/config
/MDACSAuth/bin/Debug/netcoreapp2.0
/MDACSAuth/node_modules
/MDACSAuth/package-lock.json
